@{
    ViewBag.Title = "Profile";
    Layout = "_Layout.Profile.cshtml";
}



<!-- =============================================== -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content">
        <table border="0">


            <tr height="600">
                <td width="1%"></td>
                <td valign="top" align="center" width="20%">
                    <img src="b.png" width="30%" alt="TANIM" />
                    <br />Ibrahim Khalil<hr />

                    <table width="100%">

                        <tr align="center">
                            <td colspan="3">
                                <button><font size="3"><a href="SellerProfile.html">View as Seller</a></font></button>
                            </td>
                        </tr>

                        <tr>
                            <td width="5%"><img src="location.png" /></td>
                            <td width="60%">Form</td>
                            <td align="right">Bangladesh</td>
                        </tr>
                        <tr>
                            <td width="5%"><img src="member1.png" /></td>
                            <td>Member since</td>
                            <td align="right">April 2017</td>
                        </tr>



                        <tr height="40">
                            <td></td>
                        </tr>

                        <tr>
                            <td colspan="2"><font size="4"><b>Description</b></font></td>
                            <td align="right">Edit Description</td>
                        </tr>
                        <tr height="10">
                            <td colspan="3"><hr /></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <font size="4"><b>Languages</font></b>
                                <br />English
                            </td>
                            <td valign="top" align="right">Add new</td>
                        </tr>
                        <tr height="10">
                            <td colspan="3"><hr /></td>
                        </tr>

                        <tr height="10">
                            <td colspan="3"><hr /></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <font size="4"><b>Linked accounts</font></b>
                                <ul>
                                    <li>Google</li>
                                    <li>Facebook</li>
                                    <li>Linkedin</li>
                                </ul>
                            </td>
                        </tr>
                    </table>

                </td>
                <td width="5%"></td>
                <td width="60%" valign="top">
                    <h1>Active Gigs	</h1><br /><br />
                    <h2>You doesn't have any gig's to display</h2>
                </td>
            </tr>
        </table>
    </section>
</div>
<!-- /.content-wrapper -->
