@{
    ViewBag.Title = "_Layout.Dashboard";
}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>



@RenderSection("head")




<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="Home.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>H</b>F</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Hire</b>Fire</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>



                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="~/Contents/Image/User/Tanim.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <!-- The message -->
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                                <li class="footer"><a href="Messenger.html">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="Notification.html">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="BuyerActiveWork.html">View all tasks</a>
                                </li>
                            </ul>
                        </li>




                        <!------------------ blog icon --------------------->

                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="Blog.html" class="fa ion-compose">

                            </a>

                        </li>



                        <!------------------ DashBoard icon --------------------->

                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="BuyerDashboard.html" class="fa  fa-dashboard (alias)">  </a>

                        </li>




                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/Contents/Image/User/nazmul.jpg" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">MD.NAZMUL HOSSAIN</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/Contents/Image/User/nazmul.jpg" class="img-circle" alt="User Image">

                                    <p>
                                        MD.NAZMUL HOSSAIN
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/buyer/profile" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/Other/PublicHome" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Contents/Image/User/nazmul.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>MD.NAZMUL HOSSAIN</p>
                        <!-- Status -->
                        <!--          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">

                    <li class="active"><a href="/Seller/Dashboard"><i class="fa  fa-dashboard"></i> <span>Dash Board</span></a></li>

                    <li class="treeview">
                        <a>
                            <i class="fa fa-money"></i> <span>Accounts</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Seller/BalanceReport"><i class="fa  fa-dollar"></i> <span>Balance</span></a></li>
                            <li><a href="#" onclick="Withdraw()"><i class="fa   fa-cc-mastercard"></i> <span>Withdraw</span></a></li>
                            <li><a href="/Seller/Account"><i class="fa  fa-sticky-note"></i> <span>Statement</span></a></li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a>
                            <i class="fa   fa-balance-scale"></i> <span>Orders</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Seller/ActiveWork"><i class="fa fa-hourglass-o"></i> <span>Active</span></a></li>
                            <li><a href="/Seller/PendingWork"><i class="fa  fa-hourglass-half"></i> <span>Pending</span></a></li>
                            <li><a href="/Seller/CompletedWork"><i class="fa  fa-hourglass"></i> <span>Completed</span></a></li>
                        </ul>
                    </li>
                    <li><a href="/Seller/AllGigs"><i class="fa  fa-hand-stop-o "></i> <span>Gigs</span></a></li>


                    <li><a href="/Seller/Profile"><i class="fa fa-inbox"></i> <span>Profile</span></a></li>

                    <li><a href="/Seller/Setting"><i class="fa  fa-gear"></i> <span>Settings</span></a></li>


                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>




        @RenderBody()





        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.0
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2018 <a href="#">HireFire</a>.</strong> All rights reserved.
        </footer>

    </div>




    <div id="promotion"></div>







    @RenderSection("javascript")

  



    <script>


        function hide() {
            document.getElementById("promotion").innerHTML = "";
        }

        function add() {
            document.getElementById("promotion").innerHTML = "";
        }

        function Withdraw() {
            document.getElementById("promotion").innerHTML = "" +
            "<div class='modal modal-info fade in' id='modal-info' style='display: block; padding-right: 17px;'>" +
              "<div class='modal-dialog'>" +
                "<div class='modal-content'>" +
                  "<div class='modal-header'>" +
                    "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>" +
                      "<span aria-hidden='true' onclick='hide()'>×</span></button>" +
                    "<h4 class='modal-title'>Withdraw</h4>" +
                  "</div>" +
                  "<div class='modal-body'>" +
                    "<p>Current Balance: 120000<br/></p>" +
                    "<p><input placeholder='Withdraw Ammount' style='color:black'</p>" +
                  "</div>" +
                  "<div class='modal-footer'>" +
                    "<button type='button' class='btn btn-outline pull-left' data-dismiss='modal' onclick='hide()'>Close</button>" +
                    "<button type='button' class='btn btn-outline'  onclick='add()'>Withdraw</button>" +
                  "</div>" +
                "</div>" +
                "<!-- /.modal-content -->" +
              "</div>" +
              "<!-- /.modal-dialog -->" +
            "</div>";
        }




    </script>

    <script>
        window.onload = function () {

            var chart = new CanvasJS.Chart("SellerChartContainer", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Your Response Rate Last 3 Months"
                },

                data: [{
                    type: "line",
                    dataPoints: [
                        { y: 0 },
                        { y: 4, indexLabel: "Week-1" },
                        { y: 5, indexLabel: "Week-2" },
                        { y: 5, indexLabel: "Week-3" },
                        { y: 5, indexLabel: "Week-4" },
                        { y: 5, indexLabel: "Week-5" },
                        { y: 2, indexLabel: "Week-6" },
                        { y: 3, indexLabel: "Week-7" },
                        { y: 4, indexLabel: "Week-8" },
                        { y: 5, indexLabel: "Week-9" },
                        { y: 6, indexLabel: "Week-10" },
                        { y: 5, indexLabel: "Week-11" },
                        { y: 7, indexLabel: "Week-12" }
                    ]
                }]
            });

            chart.render();

            var chart = new CanvasJS.Chart("BuyerChartContainer", {
                animationEnabled: true,
                theme: "light2",
                title: {
                    text: "Buyer Response Rate Last 3 Months"
                },

                data: [{
                    type: "line",
                    dataPoints: [
                        { y: 0 },
                        { y: 3, indexLabel: "Week-1" },
                        { y: 1, indexLabel: "Week-2" },
                        { y: 7, indexLabel: "Week-3" },
                        { y: 2, indexLabel: "Week-4" },
                        { y: 6, indexLabel: "Week-5" },
                        { y: 2, indexLabel: "Week-6" },
                        { y: 6, indexLabel: "Week-7" },
                        { y: 4, indexLabel: "Week-8" },
                        { y: 5, indexLabel: "Week-9" },
                        { y: 6, indexLabel: "Week-10" },
                        { y: 8, indexLabel: "Week-11" },
                        { y: 12, indexLabel: "Week-12" }
                    ]
                }]
            });
            chart.render();

        }

        function AutoScroll() {
            location.href = "#Table";
        }

    </script>
</body>
</html>
