<a href="~/views/others/home.cshtml">~/views/others/home.cshtml</a>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Others/_Layout.Others.cshtml";
}

@section head{
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HireFire | Home</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Contents/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Contents/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Contents/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Contents/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Contents/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<style>
    .side-bar {
        border: 1px solid black;
        margin-top: 00px;
        margin-right: 85%;
        margin-left: 0px;
    }

    .body {
        background-color: white;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 15%;
    }
</style>
}

        <!-- Full Width Column -->

    <div style="background-color: white; font-family:times-new-roman">
        <div align="center">
            <div>
                <header style="background-color: #e6e6ff">
                    <nav class="navbar" style="margin-top:30px">
                        <div class="container">
                            <div class="navbar-header">
                                <div class="collapse navbar-collapse pull-left" id="navbar-collapse" align="center">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="/Others/Home?categoryId=1" style="font-size: 17px"><b>Digital Marketing </b><span class="sr-only">(current)</span></a></li>
                                        <li><a href="/Others/Home?categoryId=2" style="font-size: 16px"><b>Writing & Translation</b></a></li>
                                        <li><a href="/Others/Home?categoryId=3" style="font-size: 16px"><b>Video & Animation</b></a></li>
                                        <li><a href="/Others/Home?categoryId=4" style="font-size: 16px"><b>Programming & Tech</b></a></li>
                                        <li><a href="/Others/Home?categoryId=5" style="font-size: 16px"><b>Business</b></a></li>
                                        <li><a href="/Others/Home?categoryId=6" style="font-size: 16px"><b>Music & Audio</b></a></li>
                                        <li><a href="/Others/Home?categoryId=7" style="font-size: 16px"><b>Graphics & Design</b></a></li>


                                    </ul>

                                </div>
                            </div>
                        </div>
                    </nav>
                </header>
            </div>

            <br />
            <table align="center">
                <tr>

                    @{
                        int elementCountInSingleRow = 0;
                        foreach (var g in ViewBag.gigs)
                        {
                            elementCountInSingleRow++;
                            string name = null;
                            int level = 0;
                            string imagePath = null;
                            foreach (var s in ViewBag.sellers)
                            {
                                if (g.SellerUserName == s.UserName)
                                {
                                    name = s.UserName;
                                    level = s.Level;
                                    imagePath = s.ImagePath;
                                }
                            }


                            <td width="300" style="padding:5px">
                                <a href="/Others/ProceedToOrder?gigId=@g.Id"><img src="~/Contents/Image/Gig/@g.ImagePath" height="150" width="300"></a>
                                <br>

                                <img src="~/Contents/Image/User/@imagePath" width="50">
                                <br />
                                @name
                                <br />
                                Level @level Seller
                                <br />
                                @g.Title
                                <br />
                                Price: @g.Price
                            </td>

                            if (elementCountInSingleRow % 4 == 0)
                            {
                                elementCountInSingleRow = 0;
                                <tr/>
					       
				        }
                        
                    }
                    }

              
            </table>
            
            <br/><br/>

        </div>


    </div>
        @section Javascript{
            <!-- ./wrapper -->
            <!-- jQuery 3 -->
            <script src="~/Contents/bower_components/jquery/dist/jquery.min.js"></script>
            <!-- Bootstrap 3.3.7 -->
            <script src="~/Contents/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <!-- SlimScroll -->
            <script src="~/Contents/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
            <!-- FastClick -->
            <script src="~/Contents/bower_components/fastclick/lib/fastclick.js"></script>
            <!-- AdminLTE App -->
            <script src="~/Contents/dist/js/adminlte.min.js"></script>
            <!-- AdminLTE for demo purposes -->
            <script src="~/Contents/dist/js/demo.js"></script>


            <script>
                function SearchByPrice() {
                    document.getElementById("SearchBox").innerHTML = "<input type='text' class='form-control' id='navbar-search-input' placeholder='Minimum'>&nbsp;&nbsp;<input type='text' class='form-control' id='navbar-search-input' placeholder='Maximum'>  ";
                }

                function SearchByOthers() {
                    document.getElementById("SearchBox").innerHTML = "<input type='text' class='form-control' id='navbar-search-input' placeholder='Search'> ";
                }
            </script>

        }

