@{
    ViewBag.Title = "ProceedToOrder";

}
<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HireFire | Proceed to Order</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Contents/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Contents/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Contents/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Contents/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Contents/dist/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<style>
    .side-bar {
        border: 1px solid black;
        margin-top: 00px;
        margin-right: 85%;
        margin-left: 0px;
    }

    .body {
        background-color: white;
        margin-top: 0px;
        margin-right: 0px;
        margin-left: 15%;
    }
</style>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">

            <!-- Logo -->
            <a href="Home.html" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>H</b>F</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Hire</b>Fire</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>



                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="~/Contents/Image/User/@ViewBag.seller.ImagePath" class="img-circle" alt="User Image">
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <!-- The message -->
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                                <li class="footer"><a href="/Others/Messenger">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- /.messages-menu -->
                        <!-- Notifications Menu -->
                        <li class="dropdown notifications-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- Inner Menu: contains the notifications -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start notification -->
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <!-- end notification -->
                                    </ul>
                                </li>
                                <li class="footer"><a href="/Others/Notification">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="BuyerActiveWork.html">View all tasks</a>
                                </li>
                            </ul>
                        </li>




                        <!------------------ blog icon --------------------->

                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="Blog.html" class="fa ion-compose">

                            </a>

                        </li>



                        <!------------------ DashBoard icon --------------------->

                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="BuyerDashboard.html" class="fa  fa-dashboard (alias)">  </a>

                        </li>




                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img src="~/Contents/Image/User/Md. Robi Ullah.jpg" class="user-image" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">Md. Robi Ullah</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img src="~/Contents/Image/User/Md. Robi Ullah.jpg" class="img-circle" alt="User Image">

                                    <p>
                                        Md. Robi Ullah
                                        <small>Member since Nov. 2012</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="/buyer/profile" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="PublicHome.html" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar user panel (optional) -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Contents/Image/User/Md. Robi Ullah.jpg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>Ibrahim Khalil Tanim</p>
                        <!-- Status -->
                        <!--          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu" data-widget="tree">
                    <!--        <li class="header" align="center" style="font-size:16px;">Seller</li>-->
                    <!-- Optionally, you can add icons to the links -->
                    <li class="active"><a href="/buyer/dashboard"><i class="fa  fa-dashboard"></i> <span>Dash Board</span></a></li>

                    <li><a href="/buyer/Account"><i class="fa fa-money"></i> <span>Accounts</span></a></li>

                    <li class="treeview">
                        <a>
                            <i class="fa   fa-balance-scale"></i> <span>Orders</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/buyer/ActiveWork"><i class="fa fa-hourglass-o"></i> <span>Active</span></a></li>
                            <li><a href="/buyer/PendingWork"><i class="fa  fa-hourglass-half"></i> <span>Pending</span></a></li>
                            <li><a href="/buyer/CompletedWork"><i class="fa  fa-hourglass"></i> <span>Completed</span></a></li>
                        </ul>
                    </li>


                    <li><a href="/Others/Messenger"><i class="fa fa-inbox"></i> <span>Inbox</span></a></li>
                    <li><a href="#" onclick="promotion()"><i class="fa  fa-child"></i> <span>Promotions</span></a></li>
                    <li><a href="BuyerSettings.html"><i class="fa  fa-gear"></i> <span>Settings</span></a></li>


                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>




        <div style="background-color: white; font-family:times-new-roman">
            <table border="0" height="100%" width="100%">
                <tr height="15%">
                    <td width="40%"></td>
                </tr>
                <tr>
                    <td><hr /></td>
                </tr>
                <tr height="70%">
                    <td>
                        <table border="0">
                            <tr>
                                <td width="10%"></td>
                                <td width="40%">
                                    <table border="0" height="100%" width="100%">

                                        <tr>

                                            <td>
                                                <br />
                                                I Will Install Wordpress, Customize Wordpress Theme<hr>
                                                <br />
                                                <img src="~/Contents/Image/Gig/@ViewBag.gig.ImagePath" height="300" width="85%">

                                                <br />
                                                <br />
                                                <br />

                                                <a align="center" href="OrderRequirements"><button type="submit">Proceed To Order( @ViewBag.gig.Price BDT )</button></a>
                                                <br />
                                                


                                                <br />


                                                <h3><strong>Reviews</strong></h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                @foreach(var s in ViewBag.order)
                                                {
                                                    <a href="Others/ContactSeller?userName=@s.BuyerName"><img src="~/Contents/Image/User/@s." width="9%">Jon kin</a><br />
                                                    
                                                    <br /><br /><br />
                                                }

                                                <a href="ContactSeller"><img src="~/Contents/Image/User/user-avatar.jpg" width="9%">Jon kin</a><br />
                                                The whole experience was great. I liked the sellers work. He listened to my requests
                                                and gave me a logo that I love. It was easy and very quickly.
                                                <br /><br /><br />
                                                <a href="ContactSeller"><img src="~/Contents/Image/User/user-avatar.jpg" width="9%">Leo king</a>
                                                The whole experience was great. I liked the sellers work. He listened to my requests
                                                and gave me a logo that I love. It was easy and very quickly.
                                            </td>
                                        </tr>

                                    </table>
                                </td>
                                <td width="8%"><hr width="1" size="1000"></td>
                                <td width="39%">
                                    <table border="0" height="100%" width="85%" cellspacing="20">
                                        <tr height="70%"></tr>
                                        <tr height="20%"><td height="20%"></td></tr>
                                        <tr height="20%">
                                            <td align="center">
                                                <a href="contactSeller"><img class="fa-circle" src="~/Contents/Image/User/@ViewBag.seller.ImagePath" height="150"></a>
                                                <br /><br />
                                                &nbsp;&nbsp;<a href="contactSeller">@ViewBag.seller.Name</a><br /><br />
                                                <a href="/Others/ContactSeller?userName=@ViewBag.seller.UserName"><input type="button" value="View Profile" /></a><br />
                                                To live a creative life, we must lose our fear of being wrong<br />
                                                <hr>
                                            </td>
                                        </tr>
                                        <tr height="20%">
                                            <td>
                                                <br />

                                                From Bangladesh<br />
                                                Member since &nbsp;&nbsp; &nbsp; &nbsp;  &nbsp; May 2016<br />
                                                Avg. Response Time<br />

                                                <hr>
                                                <br />
                                                I’m currently pursuing a degree of bachelors in Computer Science <br />
                                                and have a sound knowledge of programming in C, C++ computer Languages.<br />
                                                I can help you to complete University Assignments, Projects .<br />
                                                Message me before placing order. Thank you!<br />
                                                <hr>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr colspan="3" height="20%">
            </table>
            <br />
        </div>
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.0
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2018 <a href="#">HireFire</a>.</strong> All rights reserved.
        </footer>

    </div>




    <div id="promotion"></div>




    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Contents/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Contents/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Contents/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Contents/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Contents/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Contents/dist/js/demo.js"></script>
    <script>
        function promotion() {
            document.getElementById("promotion").innerHTML = "" +
            "<div class='modal modal-info fade in' id='modal-info' style='display: block; padding-right: 17px;'>" +
              "<div class='modal-dialog'>" +
                "<div class='modal-content'>" +
                  "<div class='modal-header'>" +
                    "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>" +
                      "<span aria-hidden='true' onclick='hide()'>×</span></button>" +
                    "<h4 class='modal-title'>Promotions</h4>" +
                  "</div>" +
                  "<div class='modal-body'>" +
                    "<p>You have no promotion<br/></p>" +
                    "<p><input placeholder='Promo Code' style='color:black'</p>" +
                  "</div>" +
                  "<div class='modal-footer'>" +
                    "<button type='button' class='btn btn-outline pull-left' data-dismiss='modal' onclick='hide()'>Close</button>" +
                    "<button type='button' class='btn btn-outline'  onclick='add()'>Add</button>" +
                  "</div>" +
                "</div>" +
                "<!-- /.modal-content -->" +
              "</div>" +
              "<!-- /.modal-dialog -->" +
            "</div>";
        }

        function hide() {
            document.getElementById("promotion").innerHTML = "";
        }

        function add() {
            document.getElementById("promotion").innerHTML = "";
        }

    </script>

</body>
</html>
