@{
    ViewBag.Title = "_Layout.Admin";
}

<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>



@RenderSection("head")




<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition skin-blue ">
    <div class="wrapper">

        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="Others/Home" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>H</b>F</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Hire</b>Fire</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                        
            </nav>
        </header>
    
    <!-- Left side column. contains the logo and sidebar -->

    @RenderBody()





    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.0
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018 <a href="#">HireFire</a>.</strong> All rights reserved.
    </footer>

        </div>

    <div id="promotion"></div>



    @RenderSection("javascript")

    <script>
    function promotion() {
        document.getElementById("promotion").innerHTML = "" +
        "<div class='modal modal-info fade in' id='modal-info' style='display: block; padding-right: 17px;'>" +
          "<div class='modal-dialog'>" +
            "<div class='modal-content'>" +
              "<div class='modal-header'>" +
                "<button type='button' class='close' data-dismiss='modal' aria-label='Close'>" +
                  "<span aria-hidden='true' onclick='hide()'>×</span></button>" +
                "<h4 class='modal-title'>Promotions</h4>" +
              "</div>" +
              "<div class='modal-body'>" +
                "<p>You have no promotion<br/></p>" +
                "<p><input placeholder='Promo Code' style='color:black'</p>" +
              "</div>" +
              "<div class='modal-footer'>" +
                "<button type='button' class='btn btn-outline pull-left' data-dismiss='modal' onclick='hide()'>Close</button>" +
                "<button type='button' class='btn btn-outline'  onclick='add()'>Add</button>" +
              "</div>" +
            "</div>" +
            "<!-- /.modal-content -->" +
          "</div>" +
          "<!-- /.modal-dialog -->" +
        "</div>";
    }

    function hide() {
        document.getElementById("promotion").innerHTML = "";
    }

    function add() {
        document.getElementById("promotion").innerHTML = "";
    }

    </script>

</body>
</html>
